ion-item-option ion-datetime,
ion-select {
  /* --padding-end: 20px; */
  /* --padding-start: 20px; */
  width: 50%;
  position: absolute !important;
  color: #0000;
  /* background-color: #ff0; */
}

ion-textarea {
  --padding-top: 0px;
  --padding-bottom: 3px !important;
  /* padding-bottom: 0px !important; */
}

ion-content, html, body, #__next{
  --background: #66cfd5 !important;
  background: #66cfd5 !important;
}

a,
a:hover,
a:focus,
a:active,
*,
:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

ion-searchbar .searchbar-clear-button.sc-ion-searchbar-ios {
  background-color: #ededed;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

ion-toolbar {
  height: 50px;
}

.ion-select,
.ion-item,
.select-md,
.select {
  background-color: #0099e0 !important;
  border: none !important;
}

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);
}



ion-icon {
  cursor: pointer;
}

.ios ion-icon {
  font-size: 24px;
}
.ios ion-searchbar {
  --cancel-button-color: #3880ff !important;
  --background: #e4e3eabb !important;
}
.ios ion-searchbar ion-icon {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.ios ion-searchbar input {
  padding-left: 32px !important ;
}

ion-tab-bar {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw !important;
  -webkit-backdrop-filter: blur(20px);
  --background: #fff0 !important; /* COLOR DE LA BARRA DE ARRIBA CON ITEMS*/
  background: #fff9 !important; /* COLOR DE TODA LA BARRA */
  backdrop-filter: blur(20px);
  border-top: solid 1px #bab9bacc;
  z-index: 999999999999;
}

#__next {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  height: 100%;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}



/* Styles for the Icon UI component */
.ui-icon {
  display: inline-block;

  contain: strict;

  fill: currentColor;

  box-sizing: content-box !important;
}

.ui-icon .ionicon {
  stroke: currentColor;
}

.ui-icon .ionicon-fill-none {
  fill: none;
}

.ui-icon .ionicon-stroke-width {
  stroke-width: 32px;
  stroke-width: var(--ionicon-stroke-width, 32px);
}

.ui-icon .icon-inner,
.ui-icon .ionicon,
.ui-icon svg {
  display: block;

  height: 100%;
  width: 100%;
}

/* Styles for React Toggle */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}
